<header class="app-header">
  <div class="container flex items-center justify-between">
    <h4 class="font-bold text-xl">Todo Management</h4>
    <div class="flex gap-3">
      <ng-container *ngIf="isAuthenticated$ | async; else loginLink">
        <div class="px-2 font-medium cursor-pointer">Todos</div>
        <div class="px-2 font-medium cursor-pointer" (click)="onLogout()">Logout</div>
      </ng-container>
      <ng-template #loginLink>
        <div class="px-2 font-medium cursor-pointer">Login</div>
      </ng-template>
    </div>
  </div>
</header>